*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

header{
    display: flex;
    
    align-items: center;

    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}


.logo{
    border-right: 1px solid #ccc;
    padding: 27px 30px;
}

.header_left{
    display: flex;
    align-items: center;
}

.address{
    /* border-right: 1px solid #ccc; */
    padding: 22px 30px;
}

.address h3{
    font-size: 18px;
    margin: 0 0 6px;
}

.address p{
    font-size: 13px;
}